<div class="jumbotron py-3">
  <p class="lead">Here a fromEvent observable emit events when the input is inputed.</p>

  <div class="card mb-3 bg-dark text-white">
    <div class="card-body"><pre class="text-white m-0">
      @ViewChild('input', {{'{'}} static: true {{'}'}}) input: ElementRef;

      ngOnInit() {{'{'}}
        fromEvent(this.input.nativeElement, 'input')
          .pipe(
            map((event: Event) => (event.target as HTMLInputElement).value),
            debounceTime(500),
            distinctUntilChanged()
          )
          .subscribe({{'{'}}
            next: data => this.output = data
          {{'}'}});
      {{'}'}}</pre>
    </div>
  </div>

  <p>debounceTime() wait to emit the value, until nothings changed.</p>
  <p>distinctUntilChanged() emits when value is distinct by comparison from the previous value.</p>
</div>

<div class="form-group">
  <label for="example">Type something</label>
  <input class="form-control" type="text" id="example" placeholder="Wait to copy and paste, but not the same thing!" #input>
</div>
<p>{{ output }}</p>
