<div class="row">
  <div class="col-3">
    <div class="alert" [ngClass]="{'alert-success': authService.loggedIn, 'alert-warning': !authService.loggedIn}" role="alert">
      You are currently <span>{{ authService.loggedIn ? 'logged in' : 'loggend out' }}</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card mb-3 bg-dark text-white">
      <div class="card-body">
        <p class="text-white m-0">
          - Users route is protected with 'canActivate', you can't access it.
        </p>
        <p class="text-white m-0">
          - Servers route is protected with 'canActivateChild', you can enter, but you can't access the server details.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <button class="btn btn-primary" (click)="onLogin()">Login</button>
    <button class="btn btn-secondary ml-2" (click)="onLogout()">Logout</button>
  </div>
</div>
