<div class="row">
  <div class="col-6 d-flex justify-content-between">
    <div class="alert d-inline-block" [ngClass]="{'alert-success': authService.loggedIn, 'alert-warning': !authService.loggedIn}" role="alert">
      You are currently <span>{{ authService.loggedIn ? 'logged in' : 'logged out' }}</span>
    </div>
    <div class="mt-1">
      <button (click)="toggleAuthMode()"
        class="btn ml-2"
        [ngClass]="{'btn-outline-primary': !authService.loggedIn, 'btn-outline-danger': authService.loggedIn}">{{ !this.authService.loggedIn ? 'Login' : 'Logout' }}</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card mb-3 bg-dark text-white">
      <div class="card-body">
        <p class="text-white m-0">
          - Users route is protected with 'canActivate', you can't access it.
        </p>
        <p class="text-white m-0">
          - Servers route is protected with 'canActivateChild', you can enter, but you can't access the server details.
        </p>
      </div>
    </div>
  </div>
</div>
