<div class="jumbotron py-3">
  <p class="lead">Here a fromEvent observable emit events when the button is clicked.</p>

  <div class="card mb-3 bg-dark text-white">
    <div class="card-body"><pre class="text-white m-0">
      ViewChild('button', {{'{'}}static: true{{'}'}}) button: ElementRef;

      ngOnInit() {{'{'}}
        fromEvent(this.button.nativeElement, 'click')
        .subscribe({{'{'}}
          next: (value: MouseEvent) => this.output = value.clientX.toString(),
          error: error => this.output = error,
          complete: () => this.output = 'completed'
        {{'}'}});
      {{'}'}}</pre>
    </div>
  </div>

  <p>subscribe() accepts the observer object that contains: next, error and complete</p>
</div>

<button class="btn btn-success mb-3" #button>Click me</button>
<p>{{ output }}</p>
