<div>

</div>

<h3 class="d-inline">
  <span *ngIf="this.formType === 'template-driven'">Template Driven Form</span>
  <span *ngIf="this.formType === 'reactive'">Reactive Form</span>
</h3>

<button class="btn btn-warning ml-2 mb-3" (click)="onButton()">
  Switch to
  <span *ngIf="this.formType === 'template-driven'">Reactive</span>
  <span *ngIf="this.formType === 'reactive'">Template Driven</span>
  Form
</button>

<app-template-driven *ngIf="this.formType === 'template-driven'"></app-template-driven>
<app-reative *ngIf="this.formType === 'reactive'"></app-reative>
