<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="navbar-brand" routerLink="routes">Angular</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="routes">Routes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="observables">Observables</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="form">Form</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="http">Http</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
